body {
    width: 1000px;
    margin: 0 auto;
}

table,th,td {
border: 1px solid #000;
margin: 0 auto;
}
.table1 {

    width: 100%;
}

.table2 {
    width: 800px;
    table-layout: fixed;
}

.table3 {
    text-align: left;
    table-layout: fixed;
    width: 800px;
    border-collapse: collapse;
    border-width: 2px;
}

.bold {
    font-weight: bold;
}

.t2 {
    height: 20px;
}

.culture.culturetd {
padding: 50px;
}

.spectr {
width: 310px;
}
.cost {
    width: 100px;
    vertical-align: top;   
}

.pad {
    padding: 5px;
}

.top {
    vertical-align: top;
    padding-top: 10px; 
}

table .table 1 {

}